<!DOCTYPE html>
<html class="bg-yellow-300">
<head class="">
  <meta charset="UTF-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>A Meaningful Page Title</title>
  <link rel="stylesheet" href="./static/css/output.css">
</head>
<body>
<div class="container">
<div class="flex justify-between space-x-56  bg-blue-500 ">
  <p class="bg-slate-600"> lets see</p>
  <p class="bg-slate-200"> lets see</p>
  <p class="bg-slate-100"> lets see</p>
</div>


<div className="bg-red-500 text-justify"> 

  {% block main %}
  {% endblock %}
  {{ message }}


</div>

</div>  
</body>
</html>

